/* Bottom Navigation */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 2px solid #000000;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #000;
    height: var(--bottom-nav-height);
}
/*
    .bottom-nav button {
        background: none;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4px;
        flex: 1;
    }

        .bottom-nav button img {
            width: 24px;
            height: 24px;
            margin-bottom: 4px;
            filter: invert(100%);
        }

        .bottom-nav button span {
            font-size: 12px;
            color: #888;
        }

        .bottom-nav button.active span {
            color: #ddd;
            font-weight: bold;
        }
*/